<style>
    @font-face {
        font-family: "proxima-nova";
        font-style: normal;
        src: url("https://use.typekit.net/af/394be6/00000000000000003b9ad1b1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/394be6/00000000000000003b9ad1b1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/394be6/00000000000000003b9ad1b1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    }

    .header-text {
        margin-bottom: 0px;
        color: white;
    }

    nav {
        background: white;
        width: 100%;
    }

    .sticky {
        position: fixed;
        top: 0;
    }

    .navbar-inverse {
        margin: 0px;
        padding: 0px;
    }

    .navbar-inverse .navbar-nav>li>a:hover {
        color: black;
        background-color: transparent;
        font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    }

    .navbar-inverse .navbar-nav>li>a {
        font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    }

    .custom-search-form {
        margin-top: 30px;
    }
</style>

<div class="navbar navbar-inverse" role="navigation">
    <div class="header-top">
        <div class="container-fluid">
            <div class="col-md-9">
                <h1 class="header-text">Website Logo</h1>
            </div>
            <div class="col-md-3">
                <div class="input-group custom-search-form">
                    <input type="text" placeholder="Search..." class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project Name</a> -->
        </div>
        <div id="navWrap" class="collapse navbar-collapse">
            <nav>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a ng-href="#!/home">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#about">
                            <span class="glyphicon glyphicon-globe"></span> SERVICES</a>
                    </li>
                    <li>
                        <a href="#about">
                            <span class="glyphicon glyphicon-info-sign"></span> PRODUCT</a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="glyphicon glyphicon-record"></span> Blog</a>
                    </li>
                    <li>
                        <a href="#about">
                            <span class="glyphicon glyphicon-info-sign"></span> ABOUT US</a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="glyphicon glyphicon-envelope"></span> CONTACT US</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    //stick nav to top of page
    $(document).scroll(function () {
        var y = $(this).scrollTop();
        var navWrap = $('#navWrap').offset().top;
        if (y > navWrap) {
            $('nav').addClass('sticky');
        } else {
            $('nav').removeClass('sticky');
        }
    });
</script>