<style>
    img {
        width: 100%;
    }*

    .subscribe-section {
        font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
        background: rgb(224, 224, 224);
        padding: 30px 0 50px;
    }
    .subscribe-head h2 {
        color: rgb(46, 46, 46);
        font-size: 30px;
        letter-spacing: 0;
        line-height: 30px;
        margin: 0 0 13px;
        padding: 20px;
        text-transform: uppercase;
    }
    .subscribe-head {
        text-align: center;
    }
    .form-section input[type="email"] {
        border: 0 none;
        border-radius: 25px;
        color: #9b9b9b;
        font-size: 16px;
        font-style: normal;
        height: 40px;
        letter-spacing: 0;
        text-align: center;
        width: 460px;
    }
    .form-section input[type="submit"] {
        background: #fdb801;
        border: 0 none;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        height: 40px;
        letter-spacing: 0;
        margin-left: -60px;
        padding: 0 58px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <img src="/images/slide.jpg" alt="slide">
    </div></div>

<div class="subscribe-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="subscribe-head">
                    <h2>Want to stay updated?</h2>
                    <div class="form-section">
                        <input placeholder="Your Email..." name="EMAIL" id="mce-EMAIL" type="email">
                        <input value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>